In [2]:
# Check the versions of libraries

# Python version
import sys
print('Python: {}'.format(sys.version))
# scipy
import scipy
print('scipy: {}'.format(scipy.__version__))
# numpy
import numpy
print('numpy: {}'.format(numpy.__version__))
# matplotlib
%matplotlib inline
import matplotlib
print('matplotlib: {}'.format(matplotlib.__version__))
# pandas
import pandas
print('pandas: {}'.format(pandas.__version__))
# scikit-learn
import sklearn
print('sklearn: {}'.format(sklearn.__version__))
import pandas
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
%matplotlib inline 
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)

Python: 2.7.11 | 64-bit | (default, Jun 11 2016, 03:41:56)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
scipy: 0.17.1
numpy: 1.10.4
matplotlib: 1.5.1
pandas: 0.18.0
sklearn: 0.17
Populating the interactive namespace from numpy and matplotlib

In [3]:
import urllib2
url = "http://www.cs.duke.edu/courses/fall16/compsci101/data/earthquakeSmall.txt"
source = urllib2.urlopen(url)
data = [str(line.strip()[1:]) for line in source]
print data

['4.9 - North Atlantic Ocean', '0.4 - 31km NW of West Yellowstone, Montana', '1.0 - 144km SE of McGrath, Alaska', '1.4 - 14km SSE of Ridgemark, California', '1.8 - 17km SSW of Volcano, Hawaii', '-0.5 - 25km SE of Ronan, Montana', '1.6 - 14km SSE of Ridgemark, California', '1.8 - 14km SSE of Ridgemark, California', '0.6 - 22km SSW of La Quinta, CA', '0.5 - 30km SSE of Lakeview, Oregon', '1.1 - 44km E of Hoback, Wyoming', '2.3 - 7km WSW of Ludlow, CA', '1.4 - 59km WNW of Anchor Point, Alaska', '3.3 - 53km SW of Unalaska, Alaska', '1.4 - 22km NNE of Badger, Alaska', '1.3 - 96km WNW of Talkeetna, Alaska', '2.0 - 14km SSE of Ridgemark, California', '1.3 - 22km NNE of Badger, Alaska', '1.6 - 58km E of Cape Yakataga, Alaska', '1.6 - 122km SE of Old Iliamna, Alaska', '1.2 - 22km NNE of Badger, Alaska', '1.2 - 70km ENE of Cape Yakataga, Alaska', '1.0 - 14km SSE of Ridgemark, California', '1.8 - 12km SW of Cape Yakataga, Alaska', '4.0 - 9km ENE of Polykastron, Greece', '1.2 - 62km ENE of Cape Yakataga, Alaska', '1.2 - 28km WNW of Burney, California']

In [6]:
bases = []
dict1 = {}
for eq in data: 
    if "," in eq: 
        loc = str(eq[eq.find(",") + 1:])
    else: 
        loc = str(eq[6:])
    bases.append(loc.strip())
print bases
uniquebases = set(bases)
print
print "uniquebases", uniquebases

['North Atlantic Ocean', 'Montana', 'Alaska', 'California', 'Hawaii', 'Montana', 'California', 'California', 'CA', 'Oregon', 'Wyoming', 'CA', 'Alaska', 'Alaska', 'Alaska', 'Alaska', 'California', 'Alaska', 'Alaska', 'Alaska', 'Alaska', 'Alaska', 'California', 'Alaska', 'Greece', 'Alaska', 'California']

uniquebases set(['North Atlantic Ocean', 'CA', 'Wyoming', 'Alaska', 'Oregon', 'Hawaii', 'Montana', 'California', 'Greece'])

In [19]:
dict1 = {}
for base in bases: 
    if base not in dict1:
        dict1[base] = 0
    dict1[base] += 1
print dict1

{'North Atlantic Ocean': 1, 'CA': 2, 'Wyoming': 1, 'Alaska': 12, 'Oregon': 1, 'Hawaii': 1, 'Montana': 2, 'California': 6, 'Greece': 1}

In [20]:
x = dict1.keys()
y = dict1.values()
print x
print y

['North Atlantic Ocean', 'CA', 'Wyoming', 'Alaska', 'Oregon', 'Hawaii', 'Montana', 'California', 'Greece']
[1, 2, 1, 12, 1, 1, 2, 6, 1]

In [21]:
a = array(x)
b = array(y)
print x, y

['North Atlantic Ocean', 'CA', 'Wyoming', 'Alaska', 'Oregon', 'Hawaii', 'Montana', 'California', 'Greece'] [1, 2, 1, 12, 1, 1, 2, 6, 1]

In [23]:
myarray = numpy.array([array(x), array(y)])
print myarray

mydataframe = pandas.DataFrame(myarray)
mydataframe

[['North Atlantic Ocean' 'CA' 'Wyoming' 'Alaska' 'Oregon' 'Hawaii'
  'Montana' 'California' 'Greece']
 ['1' '2' '1' '12' '1' '1' '2' '6' '1']]

,0,1,2,3,4,5,6,7,8
0,North Atlantic Ocean,CA,Wyoming,Alaska,Oregon,Hawaii,Montana,California,Greece
1,1,2,1,12,1,1,2,6,1